[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/perl-support"]
	path = bundle/perl-support
	url = https://github.com/vim-scripts/perl-support.vim.git
[submodule "bundle/project"]
	path = bundle/project
	url = https://github.com/vim-scripts/project.tar.gz.git
[submodule "bundle/vim-outliner"]
	path = bundle/vim-outliner
	url = https://github.com/vim-scripts/VimOutliner.git
[submodule "bundle/vim-preview"]
	path = bundle/vim-preview
	url = https://github.com/greyblake/vim-preview.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "conky-syntax.vim"]
	path = conky-syntax.vim
	url = https://github.com/smancill/conky-syntax.vim
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = https://github.com/docunext/closetag.vim.git
